@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,100;1,300;1,400&display=swap");
@import url(https://fonts.googleapis.com/css?family=Nunito);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  position: relative;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito;
}
body {
  background-image: url("../Image/Background.jpg");
}

h1 {
  color: white;
  font-size: 600%;
  transform: translateZ(0.25px) scale(0.75);
  transform-origin: 50% 100%;
  font-family: "Nunito";
  text-shadow: -20px -20px 7px #7e2c2c;
}

/* buy now */
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}
.button {
  margin-top: 4%;
  --border-right: 6px;
  --text-stroke-color: rgba(255, 0, 0, 0.6);
  --animation-color: #fcfcfc;
  --fs-size: 2em;
  letter-spacing: 0px;
  text-decoration: none;
  font-size: 300%;
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
a {
  cursor: pointer;
}
.product-card {
  position: relative;
  width: 90%;
  height: 130%;
  margin: 40px auto;
  font-size: 13px;
  overflow: hidden;
  transform: scale(1);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    border 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  background: linear-gradient(
    53.13deg,
    rgba(255, 126, 88, 0.902) -25.1%,
    rgba(255, 128, 91, 0.902) -4.46%,
    rgba(255, 136, 101, 0.91) 13.78%,
    rgba(255, 149, 118, 0.918) 30.94%,
    rgba(255, 168, 142, 0.933) 47.62%,
    rgba(255, 192, 173, 0.953) 63.94%,
    rgba(255, 221, 211, 0.973) 79.66%,
    #ffffff 94.9%
  );
  border-radius: 5%;
}
.product-card:before {
  content: "";
  position: absolute;
  top: calc(100% - 92px);
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.product-card .product-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.product-card .product-image img {
  display: block;
  max-width: 60%;
  max-height: 350px;
  margin: auto;
}
.product-card .inner {
  position: absolute;
  top: calc(100% - 92px);
  z-index: 3;
  width: calc(100% - 44px);
  padding: 0 22px 62px;
  transition: top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s,
    color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.product-card .inner p {
  margin: 0;
  line-height: 15px;
}
.product-card .tag {
  position: absolute;
  top: 0;
  left: -75px;
  z-index: 2;
  width: 50px;
  height: 50px;
  font-size: 12px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.product-card .tag .corner {
  width: 150px;
  padding: 25px 0 10px;
  transform-origin: 75px 0px;
  transform: rotate(-45deg);
  background: #ae122a;
}
.product-card .title {
  margin: 18px 0 10px;
  font-size: 18px;
}
.product-card .title span {
  font-weight: 300;
}
.product-card dl {
  text-transform: uppercase;
}
.product-card dl dt {
  position: relative;
  top: 0;
  left: -40px;
  font-size: 10px;
  margin: 0 0 16px;
  line-height: 30px;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s,
    left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}
.product-card dl dt:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  background: rgba(255, 255, 255, 0.75);
  transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}
.product-card dl dd {
  position: relative;
  top: 0;
  left: -40px;
  margin: 0;
  line-height: 24px;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s,
    left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}
.product-card .actions {
  position: absolute;
  left: 0;
  bottom: -62px;
  width: 100%;
  height: 62px;
  z-index: 4;
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  text-transform: uppercase;
  background: #ae122a;
  transition: bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.product-card .actions li {
  float: left;
  width: 50%;
}
.product-card .actions li:first-child a {
  position: relative;
}
.product-card .actions li:first-child a:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 25px;
  margin: -12.5px 0 0;
  background: rgba(255, 255, 255, 0.75);
}
.product-card .actions li a {
  display: block;
  line-height: 62px;
  text-align: center;
}
.product-card:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  border-bottom-color: #ae122a;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    border 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
}
.product-card:hover:before {
  top: 0;
  background: rgba(31, 30, 33, 0.8);
  transition: top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
}
.product-card:hover .inner {
  top: 68px;
  color: white;
  transition: top 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
}
.product-card:hover dl dt {
  opacity: 1;
  top: 0;
  left: 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s,
    left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
.product-card:hover dl dt:after {
  width: 100%;
  transition: width 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s;
}
.product-card:hover dl dd {
  opacity: 1;
  top: 0;
  left: 0;
}
.product-card:hover dl dt + dd {
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s,
    left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s;
}
.product-card:hover dl dt + dd + dd {
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s,
    left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s;
}
.product-card:hover .actions {
  bottom: 0;
  transition: bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
#h2 {
  margin-top: 20%;
}
/* slide show */
section {
  margin-top: 5%;
}
.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carousel
  > input:nth-of-type(6):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel
  > input:nth-of-type(5):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carousel
  > input:nth-of-type(4):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carousel
  > input:nth-of-type(3):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carousel
  > input:nth-of-type(2):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carousel
  > input:nth-of-type(1):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: 0%;
}
.carousel
  > input:nth-of-type(1):checked
  ~ .carousel__thumbnails
  li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(2):checked
  ~ .carousel__thumbnails
  li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(3):checked
  ~ .carousel__thumbnails
  li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(4):checked
  ~ .carousel__thumbnails
  li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(5):checked
  ~ .carousel__thumbnails
  li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(6):checked
  ~ .carousel__thumbnails
  li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}
.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  box-sizing: border-box;
  white-space: normal;
}
.carousel__slide figure {
  display: flex;
  margin: 0;
}
.carousel__slide div {
  position: relative;
  width: 100%;
}
.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}
.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.carousel__slide figcaption {
  align-self: flex-end;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
}
.carousel__slide .credit {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}
.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}
.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}
.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
  display: block;
  position: relative;
}
.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__thumbnails label:hover,
.carousel__thumbnails label:focus {
  cursor: pointer;
}
.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .card:after {
  content: "Nike";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05);
}

.container .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx {
  height: 210px;
}

.container .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover {
  background: #9bdc28;
}

.container .card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3) {
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4) {
  background: #e91e63;
}

.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}
img {
  border-radius: 5%;
}
#title_tin {
  font-size: 200%;
  font-family: "Nunito";
  margin-top: 10%;
}
.mo_ta {
  margin-top: 5%;
  background: #a50000;
  padding: 20px;
}
#navbar {
  z-index: 20000;
  background-color: #ec7f7f;
}
img:hover {
  scale: 1.05;
}
